asgiref==3.8.1
colorama==0.4.6
diff-match-patch==20241021
Django==5.1.7
django-cors-headers==4.7.0
django-filter==25.1
django-import-export==4.3.7
django-js-asset==3.1.2
django-mptt==0.16.0
django-simple-history==3.8.0
djangorestframework==3.15.2
pillow==11.1.0
psycopg2-binary==2.9.10
python-barcode==0.15.1
qrcode==8.0
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.1
